---
layout: wide-page
---

<section class="jumbotron">

  <div class="container">

    <h1>Alexander Anderson</h1>
    <p>
      Python developer with over 4 years experience, a passion for clean code and
      strong appreciation of testing.
      I have a calm, can-do attitude and I am always eager to improve and learn.
    </p>
  </div>

</section>


<div class="container">

  <article class="home">

    <h2>{% include icon-github.html username=site.github_username %}</h2>

    Online CV coming soon.

  </article>

</div>
