---
date-fmt: "%b %Y"

---

<div class="col-md-2">
  {{ page.date_from | date: layout.date-fmt }} - {{ page.date_to | date: layout.date-fmt }}
</div>

<div class="col-md-2">
  <div class="job-title">{{ page.title | escape }}</div>
  <div class="job-company">{{ page.company | escape }}</div>
</div>

<div class="col-md-8">

  <div class="job-description">{{ page.content }}</div>

  <h4>Technology:</h4>
  <div class="job-technology">
    {% for item in page.technology %}
      <span class="label label-primary">{{ item }}</span>
    {% endfor %}
  </div>

</div>
