---
date-fmt: "%Y"

---

<div class="col-md-2">
  {{ page.date_from | date: layout.date-fmt }} - {{ page.date_to | date: layout.date-fmt }}
</div>

<div class="col-md-2">
  <div>{{ page.school | escape }}</div>
</div>

<div class="col-md-3">

  <section>
    <h4>A-levels:</h4>
    <ul>
      {% for a-level in page.a-levels %}
        <li>
          <span>{{ a-level.subject }}:</span>
          <span class="label label-success">{{ a-level.grade }}</span>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h4>AS-levels:</h4>
    <ul>
      {% for as-level in page.as-levels %}
        <li>
          <span>{{ as-level.subject }}:</span>
          <span class="label label-success">{{ as-level.grade }}</span>
        </li>
      {% endfor %}
    </ul>
  </section>

</div>

<div class="col-md-5">

  <h4>Awards</h4>
  <ul>
    {% for award in page.awards %}
        <li>{{ award | escape }}</li>
    {% endfor %}
  </ul>

</div>
