---
date-fmt: "%Y"

---

<div class="col-md-2">
  {{ page.date_from | date: layout.date-fmt }} - {{ page.date_to | date: layout.date-fmt }}
</div>

<div class="col-md-2">
  <div>{{ page.university | escape }}</div>
</div>

<div class="col-md-8">

  <div class="degree-title">
    {{ page.subject | escape }}
    <span class="label label-success">{{ page.grade | escape }}</span>
  </div>

  <div class="degree-project">
    <span>Project:</span>
    <span class="project-title">
      {{ page.project.title }}
    </span>
    <article class="project-description">
      {{ page.project.description }}
    </article>
  </div>
</div>
